@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: #E3F2FD;
}
.Chatbot{
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,1),
                0 32px 64px -48px rgba(0,0,0,5);
}
.Chatbot header{
    background: #724ae8;
    padding: 16px 0;
    text-align: center;
}
.Chatbot header h2{
    color: #fff;
    font-size: 1.4rem;
}
.Chatbot .Chatbox{
    height: 310px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}
.Chatbox .chat{
    display: flex;
}
.Chatbox .chat p{
    color: white;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px ;
    background: #724ae8;
}
.Chatbox .incomming p{
    color: #000;
    background: white;
    border-radius:10px 10px 10px 0 ;
}
.Chatbox .outgoing{
    margin: 20px 0;
    justify-content: flex-end;
}
.Chatbox .incomming span{
    height: 32px;
    width: 32px;
    color: white;
    align-self: flex-end;
    background: #724ae8;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}
.Chatbot .chat-input{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: white;
    padding: 5px 20px;
    border-top:1px solid #ccc;
}
.chat-input textarea{
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}
.chat-input span{
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #724ae8;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
}
.chat-input textarea:valid span